@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Patua+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    background-color: black;
}

/**@@@@@@@@@@@@@@@@@*/
/**Navbar de la store completa, difernete al original*/
.main-container{
    height: auto;
    width: 100%;
    background-color: black;
    position: relative;
}


.navbar{
    width: 100%;
    height: 3.3vh;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .nav-left{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    max-width: 420px;
    min-width: 410px;
}

.nav-index, .nav-xbox, .nav-ps5, .nav-pc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 70%;
    border-right: solid 1px rgb(238, 233, 233, .5);
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 28%;
    max-width: 445px;
    min-width: 410px;
}

.navbar .carrito-icono{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.carrito-icono .carrito-icono-cantidad{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: -30%;
    width: 24px;
    height: 24px;
    background-color: rgb(151, 26, 26);
    color: white;
    border-radius: 50%;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

.navbar .carrito-icono .bi-cart{
    color: white;
    font-size: 1.7em;
}

.nav-right .nav-sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 65%;
    text-transform: uppercase;
    background-color: rgb(151, 26, 26);
    position: relative;
    z-index: 10;
    min-width: 130px;
}

.nav-right .nav-shop-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 65%;
    text-transform: uppercase;
}

.navbar a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    transition: .2s ease-in-out;
}

.navbar .nav-sign-in a{
    width: 100%;
    text-align: center;
}

/**Dropdown del nombre*/

.nav-sign-in ul {
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    background-image: linear-gradient(120deg, rgb(12, 12, 12), rgb(44, 38, 38), rgb(59, 53, 53), rgb(58, 57, 57));
    list-style: none;
    gap: 10px;
    pointer-events: none;
    opacity: 0;
}

.nav-sign-in ul li{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    padding: 5px 5px;
    transition: color .4s ease-in-out;
}

.nav-sign-in ul li:first-child{
    border-bottom: 1px solid rgb(216, 215, 215, .6);
}

.nav-sign-in ul li a{
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    transition: color .4s ease-in-out;
}

.dropdown li:hover, .dropdown li:hover a{
    color: red;
}




/**@@@@@@@@@@@@@@@@@*/
/** Navbar inferior de las 3 opciones */
.navbar-bottom-options{
    display: flex;
    height: 4vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgb(255, 255, 255);
}

.navbar-bottom-options a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    transition: .25s ease-in-out;
}


.nav-story:hover a{
    color: red;
}

/**@@@@@@@@@@@@@@@@@*/
/**STYLOS PARA EL NAVBAR.*/
.navbar .nav-left a:hover{
    color: rgb(255, 6, 6);
}






/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/**container que muestra el elemento*/


.display-content{
    width: 100%;
    height: 65vh;
    background-image: linear-gradient(120deg, rgb(17, 17, 17), rgb(24, 23, 23), rgb(51, 49, 49), rgb(46, 44, 44));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    position: relative;
    gap: 170px;
}

.display-content .display-description-container{
    width: 38%;
    height: 68%;
    background: rgba(34, 28, 28, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    min-width: 642px;
    max-width: 660px;

}

.display-description-container .display-title{
    width: 90%;
    height: 20%;

}

.display-description-container .display-title h2{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.2em;
}

.display-description-container .precio{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    width: 90%;
}

.display-description-container .display-title h3{
    color: rgb(218, 56, 56);
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.display-description-container .display-description{
    color: white;
    height: 27%;
    font-size: 1.2em;
    width: 90%;
}

.display-content .display-picture-container{
    height: 68%;
    width: 590px;
}

.display-content .display-picture-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}







/**Contenedor del ESRB*/


.elemento-esrb{
    width: 100%;
    height: 60%;
    display: flex;
}

.ESRB{
    height: 15%;
    width: 70%;
    display: flex;
    justify-content: center;
}

.ESRB .esrb-img{
    width: 13%;
    height: 100%;
}

.ESRB .esrb-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.esrb-text{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.esrb-text p{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.esrb-text p:first-child{
    border-right: solid 1px rgb(233, 230, 230, .7);
}



/**Display content si el carrito está vacío*/

.carrito-vacio-img{
    width: 90%;
    height: 60%;
}

.carrito-vacio-img::before{
    content: '';
    inset: 0;
    background-color: rgb(27, 27, 27, .6);
    top: 0;
    position: absolute;
}

.carrito-vacio-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carrito-vacio-texto{
    width: 38%;
    height: 68%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.carrito-vacio-texto h2{
    color: white;
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
}

.carrito-vacio-texto p{
    color: white;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/**boton de agregar al carrito*/
.display-description-container .guilty-tienda-carrito{
    width: 90%;
    height: 8%; 
    border-radius: 40px;
    background: rgb(255, 255, 255);
    transition: .2s ease-in-out;
}

.display-description-container .guilty-tienda-carrito:hover{
    background: rgb(179, 37, 37);
}

.display-description-container .guilty-tienda-carrito a{
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(3, 3, 3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: .2s ease-in-out;
}

.display-description-container .guilty-tienda-carrito:hover a{
    color: white;
}





















/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/**Container del footer*/
.web-container-buy-container{
    width: 100%;
    height: auto; /**Ojo acá que capaz da problemas*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(300deg, black, rgb(20, 2, 2), black);
    align-items: center;
    position: relative;
}


.web-container-buy-container>.footer-text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}



/**Socials*/

.publishers{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.socials{
    display: flex;
}

.socials>.bi{
    color: white;
    font-size: 3rem;
    padding: 15px 10px;
    cursor: pointer;
}

/**Container publishers dentro del footer*/

.publishers-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.publishers-title>h1{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.publishers-title>hr{
    width: 50px;
    height: 1px;
}

.publishers-list dt, .publishers-list dd {
    text-align: center;
}

.publishers-legal{
    text-align: center;
}

















/**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/**Modal del carrito*/

/**El cuerpo lo cambiamos a overlflow hidden cuando triggereamos el modal*/
body.modal-open {
    overflow: hidden;
}


.modal-carrito {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    opacity: 0;
}

.modal-carrito.isActive{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    background-color: rgb(7, 7, 7, .4);
    top: 0;
    justify-content: right;
    backdrop-filter: blur(8.5px);
    z-index: 20;
    opacity: 1;
    pointer-events: auto;
}

.modal-carrito .carrito{
    width: 32%;
    height: 100%;
    background-color: rgba(243, 239, 239, 0.9);
    padding: 10px 20px;
    max-width: 560px;
    min-width: 530px;
}



/**Carrito vacío*/

.empty-cart-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/**Dando forma al modal*/

.confirmacion-compra{
    width: 100%;
    height: 30%;
}

.confirmacion-compra .confirmacion-titulo{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

.confirmacion-compra .confirmacion-titulo h2{
    font-size: 2.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.confirmacion-compra .confirmacion-titulo .bi-x-lg{
    font-size: 1.7em;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.confirmacion-compra .confirmacion-precio{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.subtotal-line, .descuento-line, .total-line{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}



.confirmacion-compra .confirmar-compra{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.confirmar-compra .finish{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(120deg, #0072ce);
    border: none;
    color: white;
    font-size: 1.1em;
    transition: .2s ease-in-out;
}

.confirmar-compra .finish:hover{
    background-image: linear-gradient(120deg, #127dd4, #338cd4, #1a82d8 );
}


.confirmacion-precio .ingresar-descuento{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}

.ingresar-descuento .descuento-input{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.ingresar-descuento input{
    width: 85%;
    height: 43%;
    background-color: rgb(190, 188, 188);
    border-radius: 20px;
    border: none;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.05em;
}

.ingresar-descuento input:focus {
  outline: none; 
  border: 2px solid #0072ce;
}

.ingresar-descuento p{
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.ingresar-descuento button{
    background-color: #0072ce;
    cursor: pointer;
    padding: 7px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    opacity: .6;
    transition: .2s ease-in-out;
}

.ingresar-descuento button:hover{
    opacity: 1;
}



/**Resuemn de la compra, titulo, precio, etc*/
.informacion-compra{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.informacion-titulo{
    width: 100%;
    height: 5%;
}

.informacion-titulo h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2em;
}

.informacion-compra-elemento{
    width: 100%;
    height: 24%;
    display: flex;
    background-color: rgb(237, 230, 230);
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
}


/**imagen dentro del resumen de compra*/
.informacion-compra-elemento .elemento-img{
    width: 40%;
    height: 100%;
}

.elemento-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacion-compra-elemento .descripcion-elemento{
    width: 60%;
    height: 100%;
    padding: 0px 10px;
}





/**Título de la compra*/

.descripcion-elemento .elemento-title, 
.descripcion-elemento .elemento-precio{
    width: 100%;
    height: 15%;
}

.elemento-title  h2{
    font-size: 1.7em;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descripcion-elemento .elemento-precio p{
    font-size: 1.7em;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
}



/**El boton de borrar*/

.descripcion-elemento .elemento-btn-borrar{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcion-elemento .elemento-btn-borrar button{
    border: none;
    background: none;
}

.elemento-btn-borrar .eliminar-producto .bi-trash3{
    font-size: 4em;
    color: #0072ce;
}

.eliminar-producto{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
















/**ESRB PERO DEL CARRITO*/

.elemento-esrb-carrito{
    width: 100%;
    height: 30%; 
    display: flex;
}


.elemento-esrb-carrito .esrb-img-carrito{
    width: 15%;
    height: 100%;
}

.elemento-esrb-carrito  .esrb-img-carrito img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.esrb-text-carrito{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px 5px;
}

.esrb-text-carrito p{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .7em;
}

.esrb-text-carrito p:first-child{
    border-bottom: solid 1px rgba(0, 0, 0, 0.7);
}






/**Texto de error que traemos del session storage*/
.warning{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(230, 23, 23);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}